* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-eb {
  width: 60%;
  height: 50%;
  background-color: black;
  border: 25px solid white;
}